dash==2.6.2
dash-bootstrap-components==1.2.1
dash-bootstrap-templates==1.0.7
dash-core-components==2.0.0
dash-daq==0.5.0
dash-extensions==0.0.65
dash-html-components==2.0.0
dash-labs==1.2.0
dash-leaflet==0.1.23
dash-table==5.0.0
gunicorn==20.1.0
matplotlib-inline==0.1.6
numpy
pandas
plotly==5.10.0
scikit-learn

